html, body {
  background: linear-gradient(154deg, #F9D8CA, #CAEBF9);
  font-family: Arial, sans-serif;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
  width: 70%;
}

#header {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

#header h1 {
  font-size: clamp(1rem, 18vw, 12rem);
  text-align: center;
  margin: 0;
}

#header h3 {
  margin: 0;
  padding-left: clamp(0px, 2%, 13px);
  font-size: clamp(1rem, 3vw, 1.5rem);
}

#dis {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: 70%;
}

#dis p {
  font-size: 1.2em;
}

#dis a {
  font-weight: bold;
  color: #4C5D51;
  text-decoration: none;
}

#dis a:hover {
  color: #CAF9D8;
}

#dis ol {
  font-size: 1.3em;
  list-style-type: none;
}
